<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>dojos</title>
</head>
<body>
{{dojos}}
    <div class="container">
        <h1>dojos</h1>
        <div class="row">
            <div class="col">New Ninja

                <form action="/create/ninja" method="post">
                    <div class="col-auto my-1">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Dojo</label>
                        <select class="custom-select mr-sm-2" name="dojo_id">
                          <option selected>Choose...</option>
                          {% for dojo  in dojos  %}            
                          <option value="{{dojo.id}}">{{dojo.name}}</option>
                          {% endfor %}
                   
                        </select>
                      </div>
                    <input class="form-control" type="text" placeholder="first" name="first_name">
                    <input class="form-control" type="text" placeholder="last" name="last_name">
                    <input class="form-control" type="text" placeholder="age" name="age">
                    <button type="submit" class="btn btn-info">Add Ninja</button>
                </form>  
            </div>
            <div class="col">
                <h1>  All Dojos</h1>
                <ul class="list-group">
                    {% for dojo in dojos  %}
                        
                    <li class="list-group-item"><a href="/dojos/{{dojo.id}}">{{dojo.name}}</a></li>
                    {% endfor %}
                    
                  </ul>

            </div>
        </div>
    </div>
</body>
</html>